body {

}

.navbar{
  padding:0px 0px 0px 200px;
  background:yellow;
}

.pull-right{
  position:absolute;
  top:0px;
  right:0px;
  padding: 15px 20px 0px 0px;
}

.container {
  margin:0px 200px 0px 200px;
  padding:0px 20px 0px 20px;
  border: dotted 1px;
}

.topic {
  border-bottom:dotted 1px;
}

.parent-comment {
  padding-left: 20px;
  padding-bottom: 10px;
}

.child-comment {
  padding-left: 40px;
  padding-bottom: 10px;
}
