<% if @topic %>
    <div class="topic">
      <h2><%= @topic.title %></h2>
      <p><%= @topic.body %></p>
    </div>

    <% if logged_in? %>
      <form method="post">
        <textarea rows='4' cols='40' name='body'></textarea><br>
        <input type='Submit' value='Comment'>
      </form>
    <% end %>
   
    <%= erb :_comments %>

<% else %>
  <p> Topic not found. </p>
<% end %>
